<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Page 2</title>
		<link rel="stylesheet" href="/page1.css" />
	</head>
	<body>
		<div class="page-header">Page2</div>
		<div class="other-page">
			Go to
			<span class="page2" onclick="location.assign(`${window.location.origin}`)"
				>Page1</span
			>
		</div>
		<div class="page-container">
			<div class="output">
				<div class="people-list"></div>
			</div>
		</div>
	</body>
	<script src="/page2.js"></script>
</html>
